[MASTER]

[MESSAGES CONTROL]
disable=
    missing-docstring,
    fixme,
    wrong-import-order,
    wrong-import-position,
    ungrouped-imports,
    redefined-outer-name,
    import-outside-toplevel,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    no-else-return,
    too-many-ancestors,
    c-extension-no-member,

[BASIC]
max-line-length=120
good-names=db_,_,i,j,k

[DESIGN]
max-args=10
max-attributes=10
min-public-methods=0

[TYPECHECK]
ignored-modules=ffmpeg
